In [1]:
import sqlite3

**Q1. Write SQL query to create table Customers.**

In [2]:
# Connecting to the database
database = sqlite3.connect('Customer_Information.db')

In [3]:
# Creating Cursor Object
cur = database.cursor()

In [4]:
# Creating Table Customers with the Required Fields
cur.execute('''create table Customers (customerNumber int primary key,customerName text,
contactLastName text, contactFirstName text,phone int unique,addressline1 text,addressline2 text, city text,
state text ,postalcode int, country text,salesRepEmployeeNumber int, creditLimit int)''')

In [5]:
database.commit;

 **Q2. Write SQL query to create table Orders.**

In [6]:
# Connecting to the database
database = sqlite3.connect('Customer_Information.db')

In [7]:
# Creating Cursor Object
cur = database.cursor()

In [10]:
# Creating Table Orders With The Required Fields
cur.execute('''create table Orders (orderNumber int primary key,orderDate text,
requiredDate text, shippedDate text,status int,Comments text,customerNumber int)''')

In [11]:
database.commit;

**Q3. Write SQL query to show all the columns data from the Orders Table.**

In [18]:
# Fetching all columns data
cur.execute('select * from Orders')
print(cur.fetchall())
list(map(lambda x:x[0],cur.description))

[]

['orderNumber',
 'orderDate',
 'requiredDate',
 'shippedDate',
 'status',
 'Comments',
 'customerNumber']

**Q4. Write SQL query to show all the comments from the OrdersTable.**

In [19]:
# Fetching the Comments column
cur.execute('select Comments from Orders')
cur.fetchall()

[]

**Q5. Write a SQL query to show orderDate and Total number of orders placed on that date, from Orders table.**

In [24]:
cur.execute('''select orderDate ,sum(case when status = 'delivered' then 1 else 0) as totalOrders 
from Orders groupby orderDate''')
cur.fetchall()

OperationalError: near "orderDate": syntax error

**Q6. Write a SQL query to show employeNumber, lastName, firstName of all the employees from employees
table**

In [ ]:
cur.execute('select employeeNumber,lastName,FirstName from employees')
cur.fetchall()

**Q7. Write a SQL query to show all orderNumber, customerName of the person who placed the respective order.**

In [ ]:
cur.execute('''select orderNumber,customerName from Customers left join Orders on 
Customers.customerNumber = Orders.customerNumber''')
cur.fetchall()

**Q8. Write a SQL query to show name of all the customers in one column and salerepemployee name inanother 
column.**

In [ ]:
cur.execute('''select customerName, saleRepEmployee  from Customers''')
cur.fetchall()

**Q9. Write a SQL query to show Date in one column and total payment amount of the payments made on that date 
from the payments table.**

In [ ]:
cur.execute('select paymentDate, sum(amount) as totalPayment from payments groupby paymentDate')
cur.fetchall()

**Q10. Write a SQL query to show all the products productName, MSRP, productDescription from the products
table**

In [ ]:
cur.execute('''select productName, MSRP, productDescription from products''')
cur.fetchall()

**Q11. Write a SQL query to print the productName, productDescription of the most ordered product.**

In [ ]:
cur.execute('''select productName,max(productName) as MostOrderedProduct, productDescription from (select count(productName) 
FROM doctor GROUP BY productName)`''')
cur.fetchall()

**Q12. Write a SQL query to print the city name where maximum number of orders were placed.**

In [ ]:
cur.execute('''select city from Customers left join Orders on 
Customers.customerNumber = Orders.customerNumber order by sum(order)  group by city''')
cur.fetchall()

**Q13. Write a SQL query to get the name of the state having maximum number of customers.**

In [ ]:
cur.execute('''select state,sum(customer) from Customers order by sum(customer) group by state''')
cur.fetchone()

**Q14. Write a SQL query to print the employee number in one column and Full name of the employee in the 
second column for all the employees.**

In [ ]:
cur.execute('''select employeeNumber,firstName || lastName as FullName from employees''')
cur.fetchall()

**Q15. Write a SQL query to print the orderNumber, customer Name and total amount paid by the customer for that 
order (quantityOrdered × priceEach).**

In [ ]:
cur.execute('''select orderdetails.orderNumber,customerName,quantity*priceEach as totalAmount 
from orderdetails left join Orders
on orderdetails.orderNumber = Orders.orderNumber''')
cur.fetchall()